$backgroundButton: blue;

@function brightness($color) {
  @return (red($color) + green($color) + blue($color)) / (255 * 3);
}

@function brightness_ratio($base, $color) {
  @return abs(brightness($base) - brightness($color));
}

@function contrast($base, $color1: white, $color2: black) {
  @return if(brightness_ratio($base, $color1) > brightness_ratio($base, $color2), $color1, $color2);
}

button,input[type="submit"] {
  padding:0.5rem;
  border: 1px solid $backgroundButton;
  background-color: $backgroundButton;
  color: contrast($backgroundButton);
  display: block;
  width: 100%;
  cursor: pointer;
}

ul {
  display: flex;
  justify-content: center;
  padding: 0;
  li {
    padding: 0 0.5rem;
    list-style-type: none;
  }
}