form input, textarea {
    width: 100%;
    display: block;
    margin: 0.5rem 0;
}
textarea {
    height: 100px;
}

.dropArea {
    label {
        width: 120px;
        height: 100px;
        border: 1px dashed grey;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 20px;
        transition: border-color,border-style 0.5s ease-in-out;
        cursor: pointer;
        margin: 0.5rem 0 1rem;
        position: relative;
        overflow: hidden;
        .material-icons {
            display:block;
            width:42px;
            padding-bottom:16px
        }
        .material-icons, .title {
            color:grey;
            transition:0.5s color
        }
        &:hover {
            border-color:#000;
            border-style: solid;
            .material-icons, .title {
                color: #000
            }
        }
        .title {
            z-index: 1;
        }
        img {
            z-index: 0;
            position: absolute;
            left:0;
            right:0;
        }
    }
    input[type=file]{
        display: none;
    }
    
}